<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/login.css">
  </head>
  <body>
    <div class="App-top"></div>
    <div class="App-header">
      HyperCook
    </div>
    <body class="align">
      <div class="grid">
        <form action="/register" method="post" class="form login">
          <header class="login__header">
            <h3 class="login__title">Register</h3>
          </header>
          <div class="login__body">
            <div class="form__field">
              <input type="username" name="username" required="true" id="Username" placeholder="Username">
            </div>
            <div class="form__field">
              <input type="password" name="password" required="true" id="Password" placeholder="Password" />
            </div>
            <div class="form__field">        
              <input type="password" name="repeatPassword" required="true" id="RepeatPassword" placeholder="Repeat password again">
            </div>
          </div>
          <footer class="login__footer">
            <input type="submit" value="sign up">
            <p><a href="/" >Back</a></p>
          </footer>
        </form>
      </div>
    </body>
  </body>
</html>
