<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>

  </head>
  <body class>
    <form action="/register" name="register" method="post" id="loginform">
      <input type="text" name="username" required="true" class="input" id="Username" placeholder="Username" />
      <input type="password" name="password" required="true" class="input" id="Password" placeholder="Password">
      <input type="password" name="repeatPassword" required="true" class="input" id="RepeatPassword" placeholder="Repeat password again">
      <input type="submit" value="Register" class="loginbutton" id="userButton" value="SIGN UP">
      </form>
      <a href="/" class="back" >Back</a>
  </body>
</html>
